<div class="p-4 border border-secondary rounded-lg flex flex-col gap-4 justify-between h-full">
  <a [routerLink]="'/curso/' + course.id" class="text-secondary text-2xl font-bold">{{ course.title }}</a>
  <ul>
    <li class="flex gap-2 items-center">
      <span class="text-gray-500 text-sm">Coordenador(a)</span>
      <span class="w-1 h-1 bg-gray-500 rounded-full"></span>
      <a class="underline underline-offset-2"
         [routerLink]="'/coordinator/' + course.user_who_created.email"
      >{{ course.user_who_created.name }}</a>
    </li>
    @if (course.progress_level_percentage) {
      <li class="flex gap-2 items-center">
        <span class="text-gray-500 text-sm">Progresso</span>
        <span class="w-1 h-1 bg-gray-500 rounded-full"></span>
        <p>{{ course.progress_level_percentage | percentage }}</p>
      </li>
    }
  </ul>
</div>
