@reference '../../../styles.css';

.input-wrapper {
  @apply px-4 py-2 border border-gray-600 rounded-lg flex gap-1 items-center;
}

.input-wrapper input {
  @apply p-0 flex-1 border-0 rounded-none;
}

input, select {
  @apply px-4 py-2 text-xl placeholder:text-gray-400 border border-gray-600 rounded-lg outline-0;
}

.form-control.invalid .input-wrapper input {
  @apply border-none;
}

.form-control.invalid input,
.form-control.invalid select,
.form-control.invalid .input-wrapper {
  @apply border-red-700 border-2;
}

.form-control {
  @apply flex flex-col gap-1;
}

.form-control > label {
  @apply text-gray-600;
}

.error-message, .form-control.invalid > label {
  @apply text-red-800;
}

select {
  font-size: 16px !important;
  width: fit-content !important;
  padding-right: 8px;
}

select:after {
  content: "";
  background: none;
}
