<app-header/>
<main class="p-20">
  <app-breadcrumb-lister [breadcrumbs]="breadcrumbs"></app-breadcrumb-lister>
  @if (form) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="flex flex-col gap-10 max-w-4xl">
        <div class="flex flex-col gap-6">
          <h1 class="font-bold text-4xl text-secondary">{{ formTitle }}</h1>
          <div class="form-control" [class.invalid]="form.get('title')!.invalid">
            <label for="title">Título*</label>
            <input
              id="title"
              type="text"
              placeholder="Título"
              formControlName="title">
            @if (form.get('title')!.getError('required')) {
              <p class="error-message">Este campo é obrigatório.</p>
            }
          </div>
        </div>

        <div class="flex flex-col gap-8">
          <div class="flex gap-4 items-center">
            <h3 class="font-bold text-secondary text-3xl">Módulos</h3>
            <button type="button" (click)="addModule()"
                    class="cursor-pointer rounded-lg hover:bg-secondary hover:text-white border border-secondary text-secondary px-2 py-0.5 flex items-center gap-2 transition-all">
              <span class="font-semibold">Adicionar módulo</span>
              <span class="material-symbols-outlined">add</span>
            </button>
          </div>
          <div formArrayName="modules" class="flex flex-col gap-16">
            @for (module of modules.controls; let moduleIndex = $index; track moduleIndex) {
              <div class="flex flex-col gap-1">
                <span class="text-gray-500">Módulo #{{ moduleIndex + 1 }}</span>
                <div [formGroupName]="moduleIndex"
                     class="flex flex-col gap-2 rounded-2xl border border-gray-300 p-6 bg-sky-50/50 relative">

                  <div class="form-control" [class.invalid]="module.get('title')!.invalid">
                    <label for="module-title-{{moduleIndex}}">Título*</label>
                    <div class="input-wrapper">
                      <label for="module-title-{{moduleIndex}}"
                             class="text-secondary w-fit leading-none text-lg">Módulo {{ moduleIndex + 1 }} -</label>
                      <input
                        id="module-title-{{moduleIndex}}"
                        type="text"
                        placeholder="Título"
                        formControlName="title"
                        [value]="module.value.title"
                      >
                    </div>
                    @if (module.get('title')!.getError('required')) {
                      <p class="error-message">Este campo é obrigatório.</p>
                    }
                  </div>

                  <div class="flex flex-col gap-10 mt-6">
                    <div class="flex gap-4 items-center">
                      <h5 class="font-bold text-secondary text-2xl">Aulas</h5>
                      <button type="button" (click)="addLesson(moduleIndex)"
                              class="cursor-pointer rounded-lg hover:bg-secondary hover:text-white border border-secondary text-secondary px-2 py-0.5 flex items-center gap-2 transition-all">
                        <span class="font-semibold">Adicionar aula</span>
                        <span class="material-symbols-outlined">add</span>
                      </button>
                    </div>

                    <ng-container formArrayName="lessons">
                      @for (lesson of formService.getLessonsFromModule(module); let
                        lessonIndex = $index; track lessonIndex) {
                        <ng-container [formGroupName]="lessonIndex">
                          <div class="flex flex-col gap-4 rounded-lg border border-gray-300 p-4 relative pr-8">
                            <div class="form-control" [class.invalid]="lesson.controls.title.invalid">
                              <label for="lesson-title-{{moduleIndex}}-{{lessonIndex}}">Título*</label>
                              <div class="input-wrapper">
                                <label
                                  for="lesson-title-{{moduleIndex}}-{{lessonIndex}}"
                                  class="text-secondary w-fit leading-none text-lg">Aula {{ lessonIndex + 1 }} -
                                </label>
                                <input
                                  id="lesson-title-{{moduleIndex}}-{{lessonIndex}}"
                                  type="text"
                                  placeholder="Título"
                                  formControlName="title"
                                  [value]="lesson.value.title"
                                >
                              </div>
                              @if (lesson.get('title')!.getError('required')) {
                                <p class="error-message">Este campo é obrigatório.</p>
                              }
                            </div>
                            <div class="form-control" [class.invalid]="lesson.controls.video_link.invalid">
                              <label for="lesson-video-link-{{moduleIndex}}-{{lessonIndex}}">Link do vídeo*</label>
                              <input
                                id="lesson-video-link-{{moduleIndex}}-{{lessonIndex}}"
                                type="text"
                                placeholder="Link do vídeo"
                                formControlName="video_link"
                                [value]="lesson.value.video_link"
                              >
                              @if (lesson.get('video_link')!.getError('required')) {
                                <p class="error-message">Este campo é obrigatório.</p>
                              }
                              @if (lesson.get('video_link')!.getError('hasNoVideoId')) {
                                <p
                                  class="error-message flex flex-col gap-1"><span>O link não possui um identificador válido, que é composto pelos caracteres após "v=", no próprio link.</span>
                                  <span class="text-gray-500 text-sm">
                                      Exemplo de formato válido: https://www.youtube.com/watch?v=<span
                                    class="font-bold">OIuG1bBkfs0</span>
                                    </span>
                                </p>
                              }
                              @if (lesson.get('video_link')!.getError('doesNotExist')) {
                                <p class="error-message flex flex-col gap-1">O vídeo informado não existe no YouTube. O
                                  link está correto?</p>
                              }
                            </div>
                            <button
                              type="button"
                              (click)="removeLesson(moduleIndex, lessonIndex)"
                              [class.invisible]="formService.getLessonsFromModule(module).length == 1"
                              class="delete-btn material-symbols-outlined right-0 top-0 translate-y-4 translate-x-1/2 bg-sky-50 text-xl! py-1 px-2 rounded-full">
                              delete
                            </button>
                          </div>
                        </ng-container>
                      }
                    </ng-container>
                  </div>
                  <button
                    type="button"
                    (click)="removeModule(moduleIndex)"
                    [class.invisible]="modules.length == 1"
                    class="delete-btn material-symbols-outlined right-0 top-6 translate-x-full p-2 rounded-br-md rounded-tr-md">
                    delete
                  </button>
                </div>
              </div>
            }

          </div>
        </div>
        <div
          class="fixed bottom-0 left-0 py-4 pl-20 pr-4 rounded-tr-xl bg-white/50 backdrop-blur-xl flex gap-6 items-center">
          <button
            [disabled]="form.invalid"
            type="submit"
            class="font-bold text-xl text-secondary flex gap-2 items-center px-4 py-1 rounded-lg border-2 border-secondary w-fit hover:bg-secondary hover:text-white transition-all cursor-pointer disabled:text-gray-600 disabled:border-gray-600 disabled:cursor-not-allowed disabled:hover:bg-gray-100 disabled:bg-gray-100"
          >
            <span>{{ submitButtonLabel }}</span>
            <span class="material-symbols-outlined text-2xl!">check</span>
          </button>
          @if (this.submitButtonLabel === "Salvar alterações") {
            <a [routerLink]="getUrlForCourseView()"
               class="cursor-pointer px-4 py-1 flex gap-1 items-center rounded-sm bg-primary/10 text-secondary">
              <p class="leading-none font-bold">Ver curso</p>
              <span class="material-symbols-outlined">chevron_right</span>
            </a>

            @if (areThereAnyPendingChanges()) {
              <p class="max-w-40 italic text-red-800 leading-none">
                Há alterações não salvas.
              </p>
            } @else {
              <p class="max-w-40 italic text-gray-500 leading-none">
                Todas as alterações estão salvas.
              </p>
            }
          }
        </div>
      </div>
    </form>
  }
</main>
